body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#a8ff78,#78ffd6);

}
#linkedin{
    background-color: #04009A ;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 8%;
    margin-bottom: 4%;
    
}
#linkedin::before{
    content: "in";
    font-family: source sans pro;
    color: #FFFFFF;
    font-size:350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}